.Navbar {
  z-index: var(--z-index-navigation);
  position: fixed;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-l);
  left: 6%;
  right: 6%;
  bottom: calc(var(--space-s) + env(safe-area-inset-bottom));
  box-shadow: var(--shadow-sepia-m);
}

.Navbar__Item {
  padding: var(--space-3xs) var(--space-m);
  border-radius: var(--border-radius-l);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: var(--step--1);
  gap: var(--space-2xs);
  color: var(--color-gray);
  -webkit-tap-highlight-color: transparent;
}

.Navbar__Item--Active {
  background-color: var(--color-sepia);
  color: var(--color-sepia-dark);
}

.Navbar__Item__Icon {
  width: var(--space-m);
  height: var(--space-m);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.Navbar__Item__Icon--Home {
  background-image: url("~/public/img/home.svg");
}

.Navbar__Item--Active .Navbar__Item__Icon--Home {
  background-image: url("~/public/img/home-orange.svg");
}

.Navbar__Item__Icon--Care {
  background-image: url("~/public/img/stethoscope.svg");
}

.Navbar__Item--Active .Navbar__Item__Icon--Care {
  background-image: url("~/public/img/stethoscope-orange.svg");
}

.Navbar__Item__Icon--You {
  background-image: url("~/public/img/user.svg");
}

.Navbar__Item--Active .Navbar__Item__Icon--You {
  background-image: url("~/public/img/user-orange.svg");
}
