.Navbar {
  position: absolute;
  display: flex;
  justify-content: space-between;
  background-color: var(--color-white);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-s);
  left: 4%;
  right: 4%;
  box-shadow: 0px 2px 2px var(--color-sepia);
}

.Navbar__Item {
  padding: var(--space-3xs) var(--space-m);
  border-radius: var(--border-radius-s);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: var(--step--1);
  gap: var(--space-3xs);
  color: var(--color-gray);
}

.Navbar__Item--Active {
  background-color: var(--color-sepia);
  color: var(--color-sepia-dark);
}

.Navbar__Item__Icon {
  width: var(--space-m);
  height: var(--space-m);
}

.Navbar__Item__Icon--Home {
  background: url("~/public/img/home.svg") no-repeat;
}

.Navbar__Item--Active .Navbar__Item__Icon--Home {
  background: url("~/public/img/home-orange.svg") no-repeat;
}

.Navbar__Item__Icon--Care {
  background: url("~/public/img/stethoscope.svg") no-repeat;
}

.Navbar__Item--Active .Navbar__Item__Icon--Care {
  background: url("~/public/img/stethoscope-orange.svg") no-repeat;
}

.Navbar__Item__Icon--Insurance {
  background: url("~/public/img/shield.svg") no-repeat;
}

.Navbar__Item--Active .Navbar__Item__Icon--Insurance {
  background: url("~/public/img/shield-orange.svg") no-repeat;
}

.Navbar__Item__Icon--You {
  background: url("~/public/img/user.svg") no-repeat;
}

.Navbar__Item--Active .Navbar__Item__Icon--You {
  background: url("~/public/img/user-orange.svg") no-repeat;
}
