@media (min-width: 768px) {
  .EditCarePlanRoute__Form {
    width: calc(var(--space-l) * 10);
  }
}

.EditCarePlanRoute__CarePlan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: var(--space-xs);
}

@media (min-width: 768px) {
  .EditCarePlanRoute__CarePlan {
    width: calc(var(--space-l) * 10);
  }
}
