@media (min-width: 768px) {
  .EditCarePlanRoute__Form {
    width: calc(var(--space-l) * 10);
  }
  .IconTextTileList {
    min-width: calc(var(--space-l) * 10);
  }
}

.Hide_Label {
  visibility: hidden;
}

.Date_Range_Input {
  display: flex;
  flex-direction: row;
  gap: var(--space-s);
}
