.CarePlanChecklist__Title {
  font-size: var(--step-1);
  font-weight: 600;
  color: var(--color-black);
  margin: var(--space-l) 0;
}

.CarePlanChecklist__TodayLabel {
  padding-top: var(--space-xs);
  padding-bottom: var(--space-xs);
  color: rgba(0, 0, 0, 0.48);
}

.CarePlanChecklist__Items {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.CarePlanChecklist__Items__Item {
  background-color: var(--color-white);
  box-shadow: var(--shadow-sepia-m);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-l);

  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.CarePlanChecklist__Items__Item__Checked {
  opacity: 0.4;
}

.Checked__Item__Label {
  text-decoration: line-through;
}

.CarePlanChecklist__Items__Item__Name {
  color: var(--color-black);
  font-size: var(--step-0);
}

.CarePlanChecklist__Items__Suggested__Content
  .CarePlanChecklist__Items__Item__Name {
  width: 42vw;
}

.CarePlanChecklist__Items__Suggested__Content {
  color: var(--color-gray);
  font-size: var(--step--1);
  line-height: 1.5;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.CarePlanChecklist__Items__Item__Name
  + .CarePlanChecklist__Items__Suggested__Content {
  margin-top: var(--space-2xs);
}

.CarePlanChecklist__Items__Item__Name
  + .CarePlanChecklist__Items__Item__Description {
  margin-top: var(--space-2xs);
}

.CarePlanChecklist__Items__Item__Icon {
  margin-left: auto;
  min-width: var(--space-xl);
  min-height: var(--space-xl);
}

.CarePlanChecklist__Items_Margin {
  margin-top: var(--space-xs);
}

.CarePlanChecklist__Container_Margin {
  margin-top: var(--space-s);
}

.Prescription_Button_Container {
  margin-bottom: var(--space-xs);
}
.Prescription_Label {
  width: 34vw;
}
.Prescription__Title {
  color: #383838;
  font-size: var(--step-0);
  line-height: var(--step-1);
  margin-bottom: var(--space-xs);
}

.Suggested__Content__Container {
  margin-top: var(--space-l);
}
.Suggested__Content__Label {
  color: rgba(56, 56, 56, 1);
}
