.CarePlanChecklist__Title {
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  color: #595959;
  margin: var(--space-s) 0 0.625rem 0;
}

.CarePlanChecklist__TodayLabel {
  padding-top: var(--space-s);
  padding-bottom: var(--space-2xs);
  color: #7f8785;
}

.CarePlanChecklist__Items {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.CarePlanChecklist__Items__Item {
  background-color: var(--color-white);
  box-shadow: var(--shadow-sepia-m);
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-l);

  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.CarePlanChecklist__Items__Item__Checked {
  opacity: 0.4;
}

.Checked__Item__Label {
  text-decoration: line-through;
}

.CarePlanChecklist__Items__Item__Name {
  color: #595959;
  font-size: var(--step-0);
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0.2px;
}

.CarePlanChecklist__Items__Suggested__Content
  .CarePlanChecklist__Items__Item__Name {
  width: 42vw;
}

.CarePlanChecklist__Items__Suggested__Content {
  color: var(--color-gray);
  font-size: var(--step--1);
  line-height: 1.5;
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: var(--space-s);
}

.CarePlanChecklist__Items__Item__Name
  + .CarePlanChecklist__Items__Suggested__Content {
  margin-top: var(--space-2xs);
}

.CarePlanChecklist__Items__Item__Name
  + .CarePlanChecklist__Items__Item__Description {
  margin-top: var(--space-2xs);
}

.CarePlanChecklist__Items__Item__Icon {
  margin-left: auto;
  min-width: var(--space-xl);
  min-height: var(--space-xl);
}

.Prescription__Items__Icon {
  min-width: var(--space-xl);
  min-height: var(--space-xl);
}

.CarePlanChecklist__Items_Margin {
  margin-top: var(--space-xs);
}

.CarePlanChecklist__Container_Margin {
  margin-top: var(--space-s);
}

.Prescription_Button_Container {
  margin-bottom: 0.625rem;
  gap: var(--space-xs);
  padding: var(--space-s);
}
.Prescription_Label {
  width: 44vw;
}
.Prescription__Title {
  color: #595959;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 500;
  margin-bottom: 1.125rem;
}

.Suggested__Content__Container {
  margin-top: var(--space-l);
}
.Suggested__Content__Label {
  color: rgba(56, 56, 56, 1);
}
.PrescriptionRoute__Link {
  color: #e06900;
  font-size: var(--step-0);
  line-height: var(--step-1);
  text-decoration: none;
  padding: 1px 0;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.Past__Prescription__Container {
  padding-bottom: 1.25rem;
  padding-top: 1.125rem;
}
.CarePlanChecklist {
  margin-top: var(--space-s);
}

.CarePlanChecklist__Sub__Heading {
  color: #595959;
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.125rem;
  letter-spacing: 0.2px;
}

.Prescription__Button {
  all: unset;
  color: var(--color-white);
  background-color: var(--color-black);
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 1.125rem;
  padding: var(--space-xs) var(--space-m);
  text-align: center;
  letter-spacing: 0.2px;
  border-radius: var(--border-radius-l);
}
