.PageHeader {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  padding: 1.25rem 0;
  font-weight: 500;
  color: #595959;
  font-size: 1.125rem;
  line-height: 1.5rem;
  z-index: var(--z-index-navigation);
  display: grid;
  grid-template-columns: 2em 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  border: 2px solid var(--yellow-border, #faf1e9);
  background: radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(255, 218, 198, 0.05) 0%,
      rgba(251, 183, 145, 0.08) 44.79%,
      rgba(179, 113, 245, 0.02) 75.52%,
      rgba(167, 70, 212, 0) 100%
    ),
    rgba(255, 255, 255, 1);
}

.PageHeader__Label {
  grid-column: 1 / span 2;
  grid-row: 1 / span 1;
}

.PageHeader__Icon {
  padding-left: var(--space-2xs);
}

.PageHeader__Icon,
.PageHeader__PlaceholderIcon {
  grid-column: 1 / span 1;
  grid-row: 1 / span 1;
}

.PageHeader__Icon svg {
  height: var(--space-l);
}

.PageHeader__PlaceholderIcon {
  min-height: var(--space-l);
}
