.RootLayout {
  width: 100%;
  height: 100%;
  padding-top: env(safe-area-inset-top);
  background: radial-gradient(
      216.41% 100% at 50% 100%,
      #f9ecdd 0%,
      #fff9f1 33.33%,
      #fcf9f2 66.67%,
      #fcfbf7 100%
    ),
    #fbf8f2;
}
