.CategoryTile {
  text-decoration: none;
  color: inherit;
  display: flex;
  flex-direction: column;
  border-radius: var(--border-radius-l);
  background-color: var(--color-gray-dark);
  padding: var(--space-s);
  transition: background-color 0.1s ease-in-out;
}

.CategoryTile:hover {
  background-color: var(--color-gray);
}

.CategoryTile--Light {
  background-color: var(--color-white);
  box-shadow: var(--shadow-sepia-m);
  color: var(--color-black);
}

.CategoryTile--Light:hover {
  background-color: var(--color-sepia-dark);
  color: var(--color-white);
}

.CategoryTile__StatusContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: var(--space-2xs);
}

@media (min-width: 768px) {
  .CategoryTile__StatusContainer {
    margin-bottom: var(--space-m);
  }
}

.StatusIndicator {
  display: inline-block;
  width: var(--space-2xs);
  height: var(--space-2xs);
  border-radius: 50%;
  background-color: transparent;
}

.StatusIndicator--Ok {
  background-color: var(--color-ok);
}

.StatusIndicator--Warning {
  background-color: var(--color-warning);
}

.StatusIndicator--Danger {
  background-color: var(--color-danger);
}

.CategoryTileIcon {
  width: var(--space-xl);
}

@media (min-width: 768px) {
  .CategoryTileIcon {
    width: var(--space-xl);
  }
}

.CategoryTile--Light .CategoryTileIcon {
  color: var(--color-gray-dark);
}
