.ValuePill {
  display: flex;
  gap: var(--space-3xs);
  align-items: flex-end;
  line-height: 1;
  padding: var(--space-xs) var(--space-s);
  border-radius: var(--border-radius-ridiculous);
  width: fit-content;
}

.ValuePill--Light {
  background-color: var(--color-sepia);
}

.ValuePill--Dark {
  background-color: var(--color-brown-dark);
}

.ValuePill--Sepia {
  background-color: var(--color-brown-dark);
}

.ValuePill__Value {
  font-size: var(--step-0);
}

.ValuePill--Sepia .ValuePill__Value {
  color: var(--color-gray-lighter);
}

.ValuePill__Unit {
  color: var(--color-gray-lighter);
}

.ValuePill--Light .ValuePill__Unit {
  color: var(--color-gray);
}

.ValuePill--Sepia .ValuePill__Unit {
  color: var(--color-gray-lighter);
}

.ValuePill__Arrow {
  position: absolute;
  left: 50%;
  top: 95%;
  transform: translateX(-50%);

  width: 0;
  height: 0;
  border-left: var(--space-xs) solid transparent;
  border-right: var(--space-xs) solid transparent;
  border-top: var(--space-xs) solid var(--color-brown-dark);
}

.ValuePill--Light .ValuePill__Arrow {
  border-top: var(--space-xs) solid var(--color-sepia);
}
