.headerLabel {
  display: flex;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.5rem;
  justify-content: center;
  width: 87%;
}
.headerContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.filterButtonContainer {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  padding: 0.625rem 0;
}
.filterButton {
  padding: 0.75rem 1rem;
  margin: 0 1.5rem;
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 500;
  color: #595959;
}
.filterButton.selected {
  background-color: #ffeade;
  color: #ff7a00;
  border-radius: 0.75rem;
}
.Prescription__Data {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-m);
}
.Prescription__List__Container {
  padding-bottom: 2.5rem;
  margin-left: 0;
}
.PrescriptionRoute .HomeRoute__Timeline__TimelineTicks {
  top: 0;
  height: 90%;
  width: var(--space-xs);
}
.Prescription__Link {
  color: #e06900;
  font-size: 0.9rem;
  line-height: var(--step-2);
  padding: 1px 0;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.Prescription__Data__Title {
  text-transform: uppercase;
  font-size: var(--step--1);
  line-height: var(--step-0);
  margin-bottom: 0.25rem;
}
.HomeRoute__Dot {
  margin-top: 2px;
}
.Prescription__Container {
  position: relative;
  margin-top: var(--space-l);
}
.Doctor__Container {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 1rem;
  margin-bottom: var(--space-m);
  border-radius: 1rem;
}

img.Doctor__Image {
  /* width: 4.5rem;
  max-height: 5rem; */
  border-radius: 4.5rem;
}

.Doctor__Image__Container {
  margin-right: 1.25rem;
  width: 72px;
  height: 72px;
}

.Doctor__Info__Container {
  display: grid;
  gap: 0.25rem;
}

.Doctor__Name {
  font-size: 1rem;
  color: #595959;
  line-height: 1.5rem;
  font-weight: 400;
  letter-spacing: 0.2px;
}

.Doctor__Title {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #7f8785;
  letter-spacing: 0.2px;
}

.navHeaderContainer {
  border: 2px solid var(--yellow-border, #faf1e9);
  background: radial-gradient(
      151.92% 127.02% at 15.32% 21.04%,
      rgba(255, 218, 198, 0.05) 0%,
      rgba(251, 183, 145, 0.08) 44.79%,
      rgba(179, 113, 245, 0.02) 75.52%,
      rgba(167, 70, 212, 0) 100%
    ),
    rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(12px);
  padding: 0 var(--space-xs);
}

.Prescription__Content__Container {
  padding: 1.5rem var(--space-s);
}
.PrescriptionRoute .PageHeader__Icon{
  padding: 0;
}
