.PrescriptionRoute {
  padding: 0 var(--space-s);
}
.headerLabel {
  width: 85%;
  justify-content: center;
  display: flex;
  font-weight: 600;
  font-size: var(--step-1);
}
.headerContainer {
  flex-direction: row;
  display: flex;
  align-items: center;
  margin: 1rem 0;
}
.filterButtonContainer {
  display: flex;
  justify-content: center;
  text-transform: capitalize;
  margin-bottom: var(--space-m);
}
.filterButton {
  padding: 0.75rem 1rem;
  margin: 0 0.5rem;
  font-size: var(--step-0);
  line-height: var(--step-1);
  font-weight: 500;
}
.filterButton.selected {
  background-color: #ffeade;
  color: #ff7a00;
  border-radius: 0.75rem;
}
.Prescription__Data {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-m);
}
.Prescription__List__Container {
  padding-bottom: 1.5rem;
  margin-left: 0;
}
.HomeRoute__Timeline__TimelineTicks {
  top: 0%;
  height: 95%;
  width: var(--space-xs);
}
.Prescription__Link {
  color: #e06900;
  font-size: var(--step--1);
  line-height: var(--step-1);
  padding: 1px 0;
  text-decoration: none;
  border-bottom-width: 2px;
  border-bottom-style: dashed;
}
.Prescription__Data__Title {
  text-transform: uppercase;
  font-size: var(--step--1);
  line-height: var(--step-0);
  margin-bottom: 0.25rem;
}
.HomeRoute__Dot {
  margin-top: 2px;
}
.Prescription__Container {
  position: relative;
  margin-top: var(--space-l);
}
.Doctor__Container {
  display: flex;
  background-color: #ffffff;
  align-items: center;
  padding: 1rem;
  margin-bottom: var(--space-m);
  border-radius: 1rem;
}

img.Doctor__Image {
  width: 4.5rem;
  max-height: 5rem;
  border-radius: 4.5rem;
}

.Doctor__Image__Container {
  margin-right: 0.5rem;
}

.Doctor__Info__Container {
  flex-direction: column;
  display: flex;
}

.Doctor__Name {
  font-size: 1.2rem;
  line-height: 2rem;
  font-weight: 500;
}

.Doctor__Title {
  font-size: 0.9rem;
  line-height: 1.25rem;
  font-weight: 400;
  color: #8c8c8c;
}
