.SummaryRoute {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  padding: var(--space-s);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

@media (min-width: 768px) {
  .SummaryRoute {
    padding: 0;
  }
}

.SummaryRoute__ActiveCard .SummaryRoute__CardIndicator {
  display: none;
}

@media (min-width: 768px) {
  .SummaryRoute__ActiveCard .SummaryRoute__CardIndicator {
    display: flex;
  }
}

.SummaryRoute__ActiveCard__Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-l);
}

@media (min-width: 768px) {
  .SummaryRoute__ActiveCard__Header {
    display: none;
  }
}

.SummaryRoute__ActiveCard__Header .SummaryRoute__CardIndicator {
  display: flex;
}

.SummaryRoute__ActiveCard__Header__Button {
  all: unset;
}

.SummaryRoute__ActiveCard__Header__Button__Icon {
  width: var(--space-l);
  height: var(--space-l);
}

.SummaryRoute__CardIndicator {
  display: flex;
  gap: var(--space-3xs);
  margin-top: var(--space-xs);
  justify-content: center;
}

.SummaryRoute__CardIndicator__Dot {
  all: unset;
  width: var(--space-xs);
  height: var(--space-xs);
  border-radius: 50%;
  background-color: var(--color--gray);
  transition: width 0.2s ease-in-out, background-color 0.3s ease-in-out,
    border-radius 0.1s ease-in-out, transform 0.1s ease-in-out;
  cursor: pointer;
}

.SummaryRoute__CardIndicator__Dot:hover:not(
    .SummaryRoute__CardIndicator__Dot--Active
  ) {
  transform: scale(1.25);
}

.SummaryRoute__CardIndicator__Dot--Active {
  width: var(--space-l);
  border-radius: var(--border-radius--l);
  background-color: var(--color--primary);
}
