.SummaryRoute {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  padding: var(--space-s);
  margin-top: var(--space-l);
  margin-bottom: var(--space-l);
}

@media (min-width: 768px) {
  .SummaryRoute {
    padding: 0;
  }
}

.SummaryRoute__ActiveCard .SummaryRoute__CardIndicator {
  display: none;
}

@media (min-width: 768px) {
  .SummaryRoute__ActiveCard .SummaryRoute__CardIndicator {
    margin-top: var(--space-s);
    display: flex;
  }
}

.SummaryRoute__ActiveCard__Header {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--space-l);
}

@media (min-width: 768px) {
  .SummaryRoute__ActiveCard__Header {
    display: none;
  }
}

.SummaryRoute__ActiveCard__Header .SummaryRoute__CardIndicator {
  display: flex;
}

.SummaryRoute__ActiveCard__Header__Button {
  all: unset;
}

.SummaryRoute__ActiveCard__Header__Button__Icon {
  width: var(--space-l);
  height: var(--space-l);
}
