.SimpleMeasurementTile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--space-m);
  border-radius: var(--border-radius-l);
  padding: var(--space-xs);

  aspect-ratio: 1.75;
}

.SimpleMeasurementTile--Light {
  background-color: var(--color-white);
  box-shadow: var(--shadow-sepia-m);
}

.SimpleMeasurementTile--Dark {
  background-color: var(--color-gray-dark);
}

@media (min-width: 768px) {
  .SimpleMeasurementTile {
    padding: var(--space-s);
    aspect-ratio: 3;
  }
}
