:root {
  --color-black: #000000;
  --color-white: #ffffff;

  --color-gray-lighter: #d3d2d2;
  --color-gray-light: #999999;
  --color-gray: #4d4d4d;
  --color-gray-dark: #141414;
  --color-gray-darker: #0f0f0f;

  --color-ok: #00b825;
  --color-warning: #fbc01f;
  --color-danger: #ff4400;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;
  --border-radius-xl: 16px;
  --border-radius-2xl: 24px;
  --border-radius-ridiculous: 96px;
}
