.UrineReportLayout {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--space-xl);
}

@media (min-width: 768px) {
  .UrineReportLayout {
    max-width: 95%;
    margin-left: auto;
    margin-right: auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: var(--space-m);
    padding: 0;
  }
}

.UrineReportLayout__SectionTitle {
  margin-bottom: var(--space-s);
}

.UrineReportLayout__Section {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--space-s);
}
