@media (min-width: 768px) {
  .TodayPlanRoute__Form {
    width: calc(var(--space-l) * 6);
  }
  .IconTextTileList {
    min-width: calc(var(--space-l) * 10);
  }
}

.Hide_Label {
  visibility: hidden;
}

