.Button {
  all: unset;
  cursor: pointer;
  padding: var(--space-xs);
  background-color: var(--color--gray);
  border-radius: var(--border-radius--l);
  font-weight: 700;
  text-align: center;
}

.Button:hover {
  filter: brightness(1.1);
}

.Button:disabled {
  background-color: var(--color--gray--light);
  color: var(--color--gray);
  cursor: not-allowed;
}

.Button--Primary:disabled {
  background-color: var(--color--primary--light);
  color: var(--color--gray);
}

.Button:active {
  filter: brightness(2);
}

.Button--Primary {
  background-color: var(--color--primary);
  color: var(--color--black);
}
