:root {
  --color-gray-lighter: #d3d2d2;
  --color-gray-light: #999999;
  --color-gray: #4d4d4d;
  --color-gray-dark: #141414;
  --color-gray-darker: #0f0f0f;

  --color-brown-dark: #23201d;

  --color-primary-light: #e3c57f;
  --color-primary: #ffc31e;

  --border-radius-s: 2px;
  --border-radius-m: 4px;
  --border-radius-l: 8px;
  --border-radius-xl: 16px;
  --border-radius-ridiculous: 96px;
}

/* Scrollbar size. */
::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

/* Scrollbar background */
::-webkit-scrollbar-track {
  background-color: var(--color-black);
}

/* Scrollbar foreground */
::-webkit-scrollbar-thumb {
  background-color: var(--color-gray);
  border-radius: var(--border-radius-s);
}

body {
  font-family: "Apercu Pro", system-ui;
  font-size: var(--step-0);
  background-color: var(--color-black);
  color: var(--color-white);
}

/* The root element in which we render our React app. */
#root {
  height: 100%;
}
