.Utils__Tile {
  background-color: var(--color-gray-dark);
  padding: var(--space-s);
  border-radius: var(--border-radius-xl);
}

.Utils__VerticalForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.Utils__VerticalForm__Group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.Utils__VerticalForm__ButtonsContainer {
  display: flex;
  gap: var(--space-xs);
}

.Utils__VerticalForm__ButtonsContainer > * {
  flex-basis: 0;
  flex-grow: 1;
}
