.AdminEditorLayout__Header {
  padding-top: var(--space-l);
  padding-left: var(--space-l);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.AdminEditorLayout__Header__BackButton
{
  margin-right: 20px;
}

.AdminEditorLayout__Header__BackButton img {
  width: var(--space-xl);
}

.AdminEditorLayout__Content {
  padding-top: var(--space-3xl);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: var(--space-l);
  min-height: calc(4 * var(--space-2xl));
  gap: var(--space-l);
}

@media (min-width: 768px) {
  .AdminEditorLayout__Content {
    flex-direction: row;
  }
}

.AdminEditorLayout__Content__Divider {
  width: 100%;
  border-left: none;
  border-top: dashed 1px var(--color-gray-light);
}

@media (min-width: 768px) {
  .AdminEditorLayout__Content__Divider {
    width: 0;
    border-left: dashed 1px var(--color-gray-light);
    border-top: none;
  }
}
