@font-face {
  font-family: "Apercu Pro";
  src: url("./ApercuProRegular.otf") format("opentype");
  font-weight: 400;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("./ApercuProBold.otf") format("opentype");
  font-weight: 700;
}

@font-face {
  font-family: "Apercu Pro";
  src: url("./ApercuProItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}
