.HomeRoute {
  padding: 0 var(--space-s);
  /* display: grid; */
  /* grid-template-columns: auto 1fr; */
  --timeline-gap: 1rem;
}

.HomeRoute__Timeline__TimelineTicks {
  width: var(--space-2xs);
  position: absolute;
  color: red;
  background-image: url(images/tick-horizontal.svg);
  height: calc(100% - 5rem);
  top: 5rem;
}

.HomeRoute__Content__Container {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding-left: var(--space-2xs);
}

.HomeRoute__Content {
  position: relative;
  min-height: 62vh;
}

.HomeRoute__Logout {
  display: flex;
  flex-direction: column;
}

.HomeRoute__Logout__Button {
  margin-bottom: var(--space-xs);
}

.HomeRoute__RiskFactors {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.HomeRoute__FollowUps {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
  position: relative;
}

.HomeRoute__FollowUps__FollowUp {
  position: relative;
}

.HomeRoute__FollowUps__FollowUp__Reason {
  color: #595959;
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: var(--space-m);
  margin-top: var(--space-2xs);
}
.HomeRoute__FollowUps__FollowUp__Date {
  margin-left: var(--space-m);
  color: #7F8785;
  font-size: 0.75rem;
  line-height: 1rem;
}

.HomeRoute__Dot {
  --dot-size: 0.75rem;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  border: solid 1px var(--color-gray-light);
  background: var(--gradient-bg);
  position: absolute;
  left: calc(1.6rem - var(--dot-size) - var(--timeline-gap));
}

.HomeRoute__Dot--Active {
  border: solid 1px var(--color-sepia-dark);
  background: var(--color-sepia-dark);
}

.HomeRoute__Dot--Active::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--color-sepia-dark);
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LoaderContainer {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}

.Upcoming__Title {
  margin-bottom: 0;
  margin-top: 2.125rem;
}
.EmptyCarePlan__Image {
  margin: 4vh auto 6vh;
}

.EmptyCarePlan__Container {
  margin-bottom: 8vh;
}
.HomeRoute__Empty__Content__Container {
  width: 96vw;
  padding-right: var(--timeline-gap);
}
.HomeRoute__Empty__Content {
  text-align: center;
  font-size: 18px;
  letter-spacing: 0.6px;
  display: flex;
  flex-direction: column;
}

.Empty__Content__Line__2 {
  font-weight: bold;
  margin-top: 1rem;
}
