.HomeRoute {
  padding: 0 var(--space-s) 0 var(--space-2xs);

  display: grid;
  grid-template-columns: auto 1fr;

  --timeline-gap: 1rem;
}

.HomeRoute__Timeline__TimelineTicks {
  width: var(--space-2xs);
  height: 100%;
  color: red;
  background-image: url(images/tick-horizontal.svg);
}

.HomeRoute__Content {
  margin-top: var(--space-xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-xl);
  padding-left: var(--timeline-gap);
}

.HomeRoute__CarePlan {
  position: relative;
  min-height: 60vh;
}

.HomeRoute__Logout {
  display: flex;
  flex-direction: column;
}

.HomeRoute__Logout__Button {
  margin-bottom: var(--space-xs);
}

.HomeRoute__RiskFactors {
  margin-top: var(--space-2xl);
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}

.HomeRoute__FollowUps {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.HomeRoute__FollowUps__FollowUp {
  position: relative;
}

.HomeRoute__FollowUps__FollowUp__Reason {
  font-weight: 600;
  margin-top: var(--space-2xs);
  color: var(--color-black);
  font-size: var(--step-0);
}

.HomeRoute__Dot {
  --dot-size: 0.75rem;
  width: var(--dot-size);
  height: var(--dot-size);
  border-radius: 50%;
  border: solid 1px var(--color-gray-light);
  background: var(--gradient-bg);
  position: absolute;
  left: calc(0.15rem - var(--dot-size) - var(--timeline-gap));
}

.HomeRoute__Dot--Active {
  border: solid 1px var(--color-sepia-dark);
  background: var(--color-sepia-dark);
}

.HomeRoute__Dot--Active::before {
  content: "";
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  background: var(--color-sepia-dark);
  opacity: 0.2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.LoaderContainer {
  display: flex;
  height: 80vh;
  justify-content: center;
  align-items: center;
}
