.HomeRoute {
  padding: var(--safe-area-inset-top) var(--space-s) 0 var(--space-s);

  display: flex;
  flex-direction: column;
  gap: var(--space-3xl);
}

.HomeRoute__Logout {
  display: flex;
  flex-direction: column;
}

.HomeRoute__Logout__Button {
  margin-bottom: var(--space-xs);
}

.HomeRoute__RiskFactors {
  display: flex;
  flex-direction: column;
  gap: var(--space-xs);
}
