.CareRoute {
  padding: var(--padding-top-content-start) var(--space-s) 0 var(--space-s);
}

.CareRoute__Label {
  margin-bottom: var(--space-xs);
}

.CareRoute__Label--TopMargin {
  margin-top: var(--space-xl);
}
