.HomeRoute {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-m);
  padding: var(--space-m);
  grid-row: span 2;
}

.HomeRoute__Tile {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);

  background-color: var(--color-gray-dark);
  padding: var(--space-m);
  border-radius: var(--border-radius-l);
  width: 100%;
}

@media (min-width: 768px) {
  .HomeRoute__Tile {
    width: 40%;
  }
}

.HomeRoute__Tile__Title {
  font-size: var(--step-1);
}

.HomeRoute__Tile__Description {
  line-height: 1.45;
}

.HomeRoute__Tile__SearchForm {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.HomeRoute__Tile__ButtonsContainer {
  display: flex;
  gap: var(--space-xs);
}

.HomeRoute__Tile__ButtonsContainer > * {
  flex: 1;
}

.HomeRoute__Tile__Group {
  display: flex;
  flex-direction: column;
  gap: var(--space-2xs);
}

.Found__Patient__Container {
  display: flex;
  flex-direction: row;
  gap: var(--space-xs);
  align-items: center;
  justify-content: space-between;
}
.Found__Patient__Plan {
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: 6px;
  border: 1px solid #000;
  background-color: #88ffe7;
  font-size: 12px;
  font-weight: 600;
  color: black;
  line-height: 15px;
}
.Found__Patient__Info {
  flex-direction: row;
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
}

.Parent {
  background: #ffa8f1;
}
