.BottomCard {
  position: absolute;
  bottom: 0;
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  min-height: 95%;

  border-radius: var(--border-radius-l) var(--border-radius-l) 0 0;
  padding: var(--space-m);
  background: var(--gradient-bottom-card);

  border: solid 4px #faf1e9;
  border-bottom: none;

  display: flex;
  flex-direction: column;
}
