.BottomCard {
  position: absolute;
  bottom: 0;
  margin-left: var(--space-m);
  margin-right: var(--space-m);
  min-height: 90%;

  border-radius: var(--border-radius-xl) var(--border-radius-xl) 0 0;
  padding: var(--space-m);
  background: var(--gradient-bottom-card);

  border: solid 4px #faf1e9;
  border-bottom: none;

  z-index: var(--z-index-modal);
}
